.root {
  position: relative;
  overflow: hidden;
}

.viewport {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.scrollbar {
  display: flex;
  background-color: inherit;
  transition: background-color 0.2s;
  border-radius: 3px;

  &[data-orientation='vertical'] {
    flex-direction: column;
    width: 4px;
  }

  &[data-orientation='horizontal'] {
    height: 4px;
  }
}

.thumb {
  width: 45px;
  height: 45px;

  background-color: var(--color-dark-300);
  border-radius: 3px;

  &:hover {
    background-color: var(--color-light-900);
  }
}
