*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: #171717 !important; /* Ensures autofilled background matches manual input */
    transition: background-color 5000s ease-in-out 0s; /* Prevents quick white flash */
    -webkit-text-fill-color: white !important; /* Ensures text color remains consistent */
  }

  input:-webkit-autofill:disabled {
    -webkit-text-fill-color: #4c4c4c !important; /* Text color for disabled input with autofill */
  }
}

body {
  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}
