@mixin typography($fontSize, $lineHeight, $fontWeight, $color: null) {
  margin: 0;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-family: var(--font-family-primary), sans-serif;
  color: $color;
}

.text {
  margin: 0;
  overflow-wrap: break-word;
  max-width: 100%;
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-semibold));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-semibold));
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.caption2 {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-semibold));
}

.link1,
.link1:visited {
  @include typography(
    var(--font-size-s),
    var(--line-height-m),
    var(--font-weight-regular),
    var(--color-accent-500)
  );

  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.link2,
.link2:visited {
  @include typography(
    var(--font-size-xs),
    var(--line-height-s),
    var(--font-weight-regular),
    var(--color-accent-500)
  );

  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-medium {
  font-weight: var(--font-weight-medium);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}
