.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
}

.overlay {
  background: var(--color-dark-900);
  position: fixed;
  opacity: 0.6;
  inset: 0;
  z-index: 1000;
}

.content {
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  &.sizesm {
    width: 90%;
    max-width: 378px;
  }

  &.sizemd {
    width: 90%;
    max-width: 564px;
  }

  &.sizelg {
    width: 90%;
    max-width: 972px;
  }

  &.sizeauto {
    width: auto;
    max-width: 90%;
  }
}

.wrapper {
  position: relative;

  &.withHeader::before {
    content: '';
    position: absolute;
    top: 62px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-dark-100);
    z-index: 0;
  }
}

.modalContent {
  padding: 24px;
}

.card {
  padding: 24px;
  background-color: var(--color-dark-300);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  width: 100%;
}

.customHeader {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 24px;
  border-bottom: none;
}

.leftButton {
  flex: 0 0 auto;
  margin-left: 12px;
}

.leftButton:empty {
  display: none;
}

.emptyTitle {
  flex: 1;
}

.rightButton {
  flex: 0 0 auto;
}

.closeButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);
  opacity: 0.7;
  transition: opacity var(--transition);

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
    border-radius: 4px;
  }
}

.noHeaderCloseButton {
  position: absolute;
  top: -25px;
  right: -25px;
  z-index: 1;
}

.title {
  color: var(--color-light-100);
  margin: 0;
  flex: 1;
  text-align: left;
}

.centered {
  text-align: center;
}

.padding-default {
  padding: 12px 24px;
}

.padding-top-only {
  padding-top: 12px 0 0 0;
}

.padding-none {
  padding: 0;
}
