.avatarRoot {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;

  .avatarImage {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }

  .avatarFallback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: var(--font-weight-medium);
    line-height: 1;
    text-transform: uppercase;
  }

  &[data-size='small'] {
    min-width: 24px;
    height: 24px;

    .avatarFallback {
      font-size: 14px;
    }
  }

  &[data-size='medium'] {
    min-width: 36px;
    height: 36px;

    .avatarFallback {
      font-size: 18px;
    }
  }

  &[data-size='large'] {
    min-width: 204px;
    height: 204px;

    .avatarFallback {
      font-size: 90px;
    }
  }
}
