.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24px;
  max-height: 24px;

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease 0s;
  }
}

.trigger {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 36px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  background: none;
  font-size: var(--font-size-m);
  color: var(--color-light-100);
  cursor: pointer;

  &:hover {
    color: var(--color-light-900);
  }

  &:focus {
    border-color: 2px solid var(--color-accent-500);
    color: var(--color-light-900);
  }

  &[data-state='open'] {
    border-color: var(--color-light-100);
    border-radius: 2px 2px 0 0;
    background-color: var(--color-dark-500);
    color: var(--color-light-100);

    .icon {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &[data-disabled] {
    border-color: var(--color-dark-100);
    color: var(--color-dark-100);
    cursor: auto;
  }
}

.content {
  z-index: 10001;
  width: var(--radix-select-trigger-width);
  max-height: 300px;
  border: 1px solid var(--color-light-100);
  border-radius: 0 0 2px 2px;
  background-color: var(--color-dark-500);
  border-top: none;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: var(--font-size-m);
  color: var(--color-light-100);
  cursor: pointer;
  user-select: none;

  &[data-highlighted] {
    background-color: var(--color-dark-300);
    color: var(--color-accent-500);
    outline: none;
  }
}
